/* CSS Coringa Nebbia */

.fundo {
    flex: 1; /* Faz esse container "empurrar" o rodapé para o final da página */
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza o painel verticalmente no espaço disponível */
    padding: 20px;
}
.site-footer {
    width: 100%;
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 50px; /* Garante que ele sempre fique na base, mesmo com pouco conteúdo */
    background: transparente; /* fundo transparente  */
}
.painel{
    justify-content: center;
    background: rgba(30, 30, 30, 0.85); /* Fundo semi-transparente */
    backdrop-filter: blur(10px); /* Efeito de vidro jateado */
    padding: 30px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 800px;
}
h1 {
    color: #bcf521;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;

}

/* Grid para alinhar labels e inputs */
.form-grid {
   display: grid;
   grid-template-columns: 1fr 1fr; /* Duas colunas */
   gap: 20px;
   margin-bottom: 30px;
}
.input-tabela {
   display: grid;
   grid-template-columns: 100px 1fr;
   align-items: center;
}
input {
   background: #2a2a2a;
   border: 1px solid #444;
   border-radius: 4px;
   padding: 8px;
   color: white;
}
button {
   grid-column: span 2;
   background: #bcf521;
   color: black;
   border: none;
   padding: 12px;
   font-weight: bold;
   border-radius: 6px;
   cursor: pointer;
   margin-top: 10px;
}

/* tabela de produtos cadastrados */
/* Estilo para o bloco da tabela (que não é form) */
/* Recuperando o brilho da NEBBIA na tabela */
/* Complemento para centralizar a tabela em baixo do cadastro */
.painel-tabela {
    background: rgba(30, 30, 30, 0.85); /* Mantém o padrão do painel de cima */
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 800px; /* Mesma largura do cadastro para alinhar o 'zói' */
    margin: 30px auto; /* Centraliza horizontalmente e dá espaço do bloco de cima */
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.2); /* Fundo sutil para os dados */
    border-radius: 8px;
    overflow: hidden;
}

th {
    background-color: rgba(188, 245, 33, 0.1); /* Fundo leve verde nos cabeçalhos */
    color: #bcf521; /* Texto verde limão */
    padding: 12px;
    text-align: left;
    font-size: 0.85rem;
    border-bottom: 2px solid #bcf521;
}

td {
    padding: 12px;
    color: #e0e0e0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

/* Efeito de destaque ao passar o mouse na linha */
tr:hover {
    background: rgba(188, 245, 33, 0.05);
}

/* Estilo para os links de ação dentro da tabela */
.btn-editar { color: #bcf521; text-decoration: none; font-weight: bold; margin-right: 10px; }
.btn-excluir { color: #ff4444; text-decoration: none; font-weight: bold; }